.s4y-editor-container {
    border: 1px #000000 solid;
}

.s4y-editor-toolbar {
    border-bottom: 1px #000000 solid;
    padding: 4px;

    button {
        cursor: pointer;
        margin-right: 2px;
    }
}

.s4y-editor-textbox {
    height: 200px;
    padding: 12px;
    overflow: scroll;
    outline: none;

    ul,
    ol {
        margin: 16px 0;
        padding-left: 40px;
    }

    .s4y-editor-raw {
        padding: 0;
        margin: 0;
        min-width: 498px;
        min-height: 200px;
        outline: none;
    }
}

.s4y-editor-mode {
    display: inline-block;

    label {
        cursor: pointer;
    }
}